.box, .icon {
    height: 2em;
    width: 2em;
    background-color: black;
    text-align: center;
    font-family: Oswald;
    vertical-align: middle;
    display: table-cell;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    font-size: 25px;
}

.row {
    display: flex;
}

body {
    background-color: black;
}

#title {
    color: white;
    font-family: Oswald;
    text-align: center;
    margin-top: 20px;
}

#items {
    position: absolute;
    font-family: Oswald;
    font-size: 25px;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 5px #4c7a2b;
    z-index: -1;
}

body {
    background-color: #588c34;
}

.text-input {
    display: flex;
    color: white;
    margin-bottom: -30px;
}

input {
    margin-left: 10px;
    height: 23px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Oswald;
    color: white;
    background-color: #a2d149;
    border: 1px solid white;
}

#inputs {
    margin-left: 10px;
    margin-top: 60px;
}

h3 {
    font-family: Oswald;
}

#space {
    position: absolute;
    top: 0%;
    font-family: Oswald;
    margin-left: 10px;
    font-size: 25px;
    color: white;
    margin-top: 20px;
}

#leaderboard {
    width: 25%;
    height: auto;
    position: absolute;
    right: 1%;
    top: 2%;
    background-color: #a2d149;
    text-align: center;
    color: white;
    font-family: Oswald;
    padding-bottom: 25px;
}

#creator {
    position: absolute;
    font-family: Oswald;
    color: white;
    bottom: 0%;
    left: 1%;
}

#current-user {
    margin-top: 25px;
    margin-bottom: 5px;
}